.header {
  margin-bottom: 30px;
  /*height: 110px;*/
  background: #343434;
}

.header-container {
  margin: 0 auto;
  width: 68px;
  min-width: 1000px;
  height: 110px;
}

.header-icon {
  float: left;
  height: 100%;
  width: 200px;
}

.header-top {
  float: right;
  height: 35px;
  line-height: 35px;
}