.row-1,
.row-2 {
    height: auto!important;
}

.triangle {
    position: static!important;
    transform: none!important;
}

.triangle-content-0,
.triangle-content-1,
.triangle-content-2,
.triangle-content-3,
.triangle-content-4,
.triangle-content-5,
.triangle-content-6 {
    position: relative!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    height: 210px!important;
    width: 250px!important;
    transform: none!important;
    background: transparent!important;

    .triangle-cover,
    img {
        position: absolute!important;
        top: 0!important;
        right: 0!important;
        bottom: 0!important;
        left: 0!important;
        transform: none!important;
    }
}

.triangle {
    width: 125px!important;
}

.triangle-cover {
    z-index: 111;
}