@import './sprite.scss';

$mainColor: #5ef4f3;


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'BigYoung';
  src: url('http://himg2.huanqiu.com/statics/www/hqspecial/dist/mydreamworld/libs/BigYoungBoldGB.ttf');
  src: 
    url('http://himg2.huanqiu.com/statics/www/hqspecial/dist/mydreamworld/libs/BigYoungBoldGB.eot') format('embedded-opentype'),
    url('http://himg2.huanqiu.com/statics/www/hqspecial/dist/mydreamworld/libs/BigYoungBoldGB.woff') format('woff'),
    url('http://himg2.huanqiu.com/statics/www/hqspecial/dist/mydreamworld/libs/BigYoungBoldGB.ttf') format('truetype'),
    url('http://himg2.huanqiu.com/statics/www/hqspecial/dist/mydreamworld/libs/BigYoungBoldGB.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

// @font-face {
//   font-family: 'BigYoung';
//   src: url('../libs/BigYoungBoldGB.eot');
//   src:
//     url('../libs/BigYoungBoldGB.eot?#libs-spider') format('embedded-opentype'),
//     url('../libs/BigYoungBoldGB.woff') format('woff'),
//     url('../libs/BigYoungBoldGB.ttf') format('truetype'),
//     url('../libs/BigYoungBoldGB.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

body {
  font-family: BigYoung,SimSun;
  position: relative;
  background: url(../images/bg.jpg) center no-repeat;
  background-size: 100% 100%;
}

.topIndex {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.main {
  color: #fff;
}

.section {
  box-sizing: border-box;
  padding-top: 40px;
}

// 导航
.navs {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 20px;
  font-size: 0;
}

.nav {
  position: relative;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid $mainColor;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(./libs/PIE.htc);
}

.nav-bg {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(./libs/PIE.htc);
  background: #071c19;
}

.nav-name {
  display: none;
  position: absolute;
  top: 21px;
  left: -96px;
  width: 0;
  height: 16px;
  border-bottom: 2px solid $mainColor;
  color: $mainColor;
  font-size: 14px;
  word-break: keep-all;
  overflow: hidden;
}

.nav_active {
  &:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #5ef4f3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    behavior: url(./libs/PIE.htc);
  }
  .nav-name {
    display: inline-block;
    animation: leftFadeIn 0.5s linear forwards;
  }
  .nav-bg {
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      @include sprite($nav-line);
    }
  }
}

.section-container {
  position: relative;
  height: 100%;
  display: none;
}

.section-container {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}
// 活动介绍
.page1 {
  background: url(../images/page1-img.png) center left no-repeat;
  background-size: contain;
}

.page1-logo {
  position: absolute;
  top: 45px;
  left: 10px;
  @include sprite($logo);
  animation: upFadeIn 1s;
}

.page1-info {
  position: absolute;
  left: 172.5px;
  bottom: 135px;
  padding: 30px 50px;
  width: 555px;
  border-width: 1px;
  border-color: $mainColor;
  border-style: solid;
  background-color: rgba(12, 24, 28, .7);

  font-family: "Microsoft YaHei";
  font-size: 14px;
  line-height: 1.786;
  text-indent: 2em;
  text-align: left;

  box-shadow: 0 0 5px 1px $mainColor;
  animation: upFadeIn 1s;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-top: 2px solid $mainColor;
  border-left: 2px solid $mainColor;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-top: 2px solid $mainColor;
  border-right: 2px solid $mainColor;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-bottom: 2px solid $mainColor;
  border-left: 2px solid $mainColor;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-bottom: 2px solid $mainColor;
  border-right: 2px solid $mainColor;
}

.body-bg {
  background: url(../images/bg_2.png) no-repeat;
}

.block-title {
  font-size: 36px;
  color: rgb(35, 244, 246);
}

// 活动规则
.section-title-img {
  font-size: 0;
  display: inline-block;
  text-indent: -999px;
  overflow: hidden;
  @include sprite($section-title);
}

.order-0 {
  opacity: 0;
  animation: upFadeIn .2s forwards;
}

.order-1 {
  opacity: 0;
  animation: upFadeIn .5s .2s forwards;
}

.order-2 {
  opacity: 0;
  animation: upFadeIn .5s .7s forwards;
}

.order-3 {
  opacity: 0;
  animation: upFadeIn .5s 1.2s forwards;
}

.order-4 {
  opacity: 0;
  animation: upFadeIn .5s 1.7s forwards;
}

.section-block {
  margin: 0 5px;
  display: inline-block;
  width: 318px;
  vertical-align: top;
}

.section-title {
  margin: 45px 0 30px;
  text-align: center;
}

.block-title {
  text-align: center;
  position: relative;
  margin-bottom: 12px;

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 7px;
    background: url(../images/subtitle-line.png) center no-repeat;
  }
}

.block-boder {
  position: relative;
  overflow: hidden;
  border-left: 1px solid $mainColor;
  border-right: 1px solid $mainColor;
  border-bottom: 1px solid $mainColor;
  min-height: 80px;
  margin: 0 4px;
  padding: 50px 10px 25px;
  font-family: "Microsoft YaHei";
  text-align: left;
  height: 380px;
  width: 288px;
  background-color: rgba(12, 24, 28, .7);
  box-shadow: 0 6px 5px 1px rgba(106, 209, 193, .4);

  &.upload {
    padding-top: 20px;
    text-align: center;
    height: 330px;
  }
}

// .right-border {
//   float: right;
//   height: 100%;
//   width: 1px;
//   background: $mainColor;
//   box-shadow: 2px 0 5px $mainColor;
// }

.block-header {
  text-align: center;
  @include sprite($block-header);
}

.img-news {
  margin-bottom: 20px;
  font-size: 0;
  border: 4px solid $mainColor;
}

.img-news-img {
  width: 280px;
  height: 145px;
}

.img-news-title {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #0a5352;
  background: $mainColor;
  text-align: center;
}

.news {
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin: 10px 0;
  text-indent: 5px;
}

.num-cont {
  width: 288px;
  margin: 10px 0;
  text-align: center;
}

.num {
  display: inline-block;
  height: 26px;
  width: 26px;
  text-align: center;
  font-family: "BigYoung";
  font-size: 24px;
  line-height: 26px;
  color: $mainColor;
  border: 1px solid $mainColor;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  // behavior: url(./libs/PIE.htc);
}

.block-info {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

// 第三页
.section-subtitle {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: $mainColor;
  font-size: 36px;

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 7px;
    background: url(../images/subtitle-line.png) center no-repeat;
  }
}

.timeline {
  padding: 210px 0;
}

.time {
  position: relative;
  display: inline-block;
  width: 64px;
  margin-right: 180px - 65px;

  &.last {
    margin-right: 0;
  }
}

.time-num-line {
  position: absolute;
  top: 32.5px;
  left: 68px;
  width: 115px;
  height: 1px;
  background-color: $mainColor;

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $mainColor;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 35px;
    height: 2px;
    background-color: $mainColor;
  }
}

.last-text {
  width: 30px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
}

.time-num {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: $timeline-bg-height;
  font-size: 36px;
  color: $mainColor;
  @include sprite($timeline-bg);

  &.down {
    &:after {
      content: '';
      position: absolute;
      top: $timeline-bg-height + 10px;
      left: $timeline-bg-width / 2;
      @include sprite($time-line-right);
    }
  }

  &.up {
    &:after {
      content: '';
      position: absolute;
      top: -$timeline-line-height - 10px;
      left: $timeline-bg-width / 2;
      @include sprite($timeline-line);
    }
  }
}

.time-cont {
  position: absolute;
  text-align: left;

  &.down {
    top: 100px;
    left: 70px;
  }

  &.up {
    top: -210px;
    left: 70px;
  }
}

.time-title {
  font-size: 24px;
  color: $mainColor;
}

.time-subtitle {
  font-size: 16px;
  color: $mainColor;
}

.title-info {
  margin-top: 10px;
  width: 140px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  line-height: 1.5;
}

.show1,
.pseudo-show1:after {
  opacity: 0;
  animation: scaleFadeIn 1s 0.5 * 3 + 0.2s forwards;
}

.show2,
.pseudo-show2:after {
  opacity: 0;
  animation: scaleFadeIn 1s 0.5 * 4 + 0.2s forwards;
}

.show3,
.pseudo-show3:after {
  opacity: 0;
  animation: scaleFadeIn 1s 0.5 * 5 + 0.2s forwards;
}

.show4,
.pseudo-show4:after {
  opacity: 0;
  animation: scaleFadeIn 1s 0.5 * 6 + 0.2s forwards;
}

.show5,
.pseudo-show5:after {
  opacity: 0;
  animation: scaleFadeIn 1s 0.5 * 7 + 0.2s forwards;
}

// 作品征集
.block-title-circle {
  width: 318px;
  text-align: center;
}

.block-header-up {
  // margin-bottom: -$block-header-up-height + 16px;
  @include sprite($block-header-up);
}

.block-icon-tri {
  position: relative;
  top: 20px;
  display: inline-block;
  text-align: center;
  @include sprite($icon-tri);
}

.block-icon-mail {
  position: relative;
  top: 20px;
  display: inline-block;
  @include sprite($icon-mail);
}

.block-icon-wechat {
  position: relative;
  top: 20px;
  display: inline-block;
  @include sprite($icon-wechat);
}

.box {
  position: relative;
  margin-top: 50px;
  padding: 30px 50px;
  font-size: 14px;
  line-height: 1.786;
  border: 1px solid $mainColor;
  background-color: rgba(12, 24, 28, .7);
  box-shadow: 0 0 5px 1px rgba(106, 209, 193, .4);
}

.join-title {
  width: 288px;
  margin-bottom: 24px;
  font-family: "BigYoung";
  font-size: 28px;
  text-align: center;
  color: $mainColor;
}

.upload-btn {
  margin: 35px 0;
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-color: $mainColor;
  border-style: solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  // behavior: url(./libs/PIE.htc);
  width: 133px;
  height: 34px;
  line-height: 34px;
  color: $mainColor;
  box-shadow: 0 0 5px 1px rgba(106, 209, 193, .4);
  cursor: pointer;

  &:hover {
    background-color: #01879a;
  }
}

.upload-info {
  color: $mainColor;
}

// 表单
.upload-box {
  box-sizing: border-box;
  margin: 30px auto 0;
  // padding: 35px 175px;
  padding: 35px 0;
  width: 757px;
  height: 616px;
  background: url(../images/upload-box.png) center no-repeat;
  background-size: contain;
  animation: scaleFadeIn 1s forwards;
}

#form-page {
  // display: none;
}

#result-page {
  display: none;
  margin-top: 150px;
}

.btn.btn-close {
  display: inline-block;
  font-family: "Miscrosoft YaHei";
  color: $mainColor;
  font-size: 16px;
  border: 1px solid $mainColor;
  width: 145px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(./libs/PIE.htc);
  box-shadow: 0 0 5px 1px rgba(106, 209, 193, .4);
}

.form-line {
  margin: 20px auto;
  width: 470px;
  font-size: 18px;
  color: $mainColor;
  overflow: hidden;

  &.first {
    height: 27px;
    margin-top: 40px;
    overflow: visible;
  }
}

.form-label {
  float: left;
  display: inline-block;
  width: 90px;
  line-height: 1.5;
  vertical-align: middle;
}

.form-input {
  float: left;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 10px;
  width: 370px;
  font-size: 18px;
  line-height: 1.5;

  // &.multy {
  //   display: inline-block;
  //   height: 18 * 1.5 * 3px;
  // }
}

.form-small {
  float: left;
  margin-top: 5px;
  margin-left: 90px;
  // font-family: "Miscrosoft YaHei";
  font-size: 14px;
}

.btn-bg {
  display: inline-block;
  @include sprite($btn)
  z-index: 0;
}

.btn-active {
  .btn-bg {
    @include sprite($btn-active);
    animation: rotate 10s linear infinite;
  }
}

.btn {
  position: relative;
  margin: 10px 62px;
  padding: 0;
  color: #141717;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn-name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: inline-block;
  width: $btn-width;
  height: $btn-height;
  line-height: $btn-height;
  font-family: "Microsoft YaHei";
  color: #141717;
  font-size: 18px;;
}

#file {
  display: none;
}

#file-name-show {
  display: inline-block;
  padding: 0 10px;
  width: 236px;
  height: 27px;
  line-height: 27px;
  background: #fff;
  color: #666;
  text-align: left;
}

#file-choose-btn {
  display: inline-block;
  margin-left: 8px;
  width: 121px;
  height: 27px;
  line-height: 27px;
  border: 1px solid $mainColor;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  behavior: url(./libs/PIE.htc);
  vertical-align: top;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(106, 209, 193, .4);
}

.upload-result-box {
  margin: 0 auto;
  margin-top: -383px;
  width: 370px;
}

#upload-result {
  height: 245px;
}

// 关注我们
.section-container .code {
  display: inline-block;
  width: 175px;
  margin-right: 40px;
  margin-top: 40px;
}

.code-img {
  border: 6px solid $mainColor;
  height: 161px;
  width: 162px;
  box-shadow: 0px 15px 16px 2px rgba(105, 100, 84, .3);
}

.code-info {
  margin-top: 20px;
  font-size: 18px;
  color: $mainColor;
}

.focus-box {
  margin-top: 40px;
  padding: 35px 15px;
  position: relative;
  display: inline-block;
  border: 1px solid $mainColor;
  color: $mainColor;
  font-size: 24px;
  vertical-align: top;
  background-color: rgba(12, 24, 28, .7);
  box-shadow: 0 0 5px 1px rgba(106, 209, 193, .4);
}

.focus-line {
  margin: 13px;
}

.focus-name {
  display: inline-block;
  width: 24 * 4px;
  text-align: right;
  
  &.multy {
    vertical-align: top;
  }
}

.focus-info {
  display: inline-block;
  width: 230px;
  margin-left: 15px;
  font-family: "Microsoft YaHei";
  color: $mainColor;

  &.small {
    font-size: 20px;
  }
}

.mail {
  color: #fff;
}

// footer
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: #666;
  text-align: center;
  color: #ccc;
  font-family: "SimSun";
  font-size: 12px;
}

.footer-main {
  margin: 0 auto;
  width: 1000px;

  a {
    color:  #aeaeae;
    margin: 0 3px;
  }
}

@media (max-height: 850px) {
  .section-title {
    display: none;
  }

  .section-block {
    margin-top: 60px;
  }

  .block-boder {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .section-subtitle {
    margin-top: 60px;
  }

  .timeline {
    margin-top: 30px;
  }

  .block-title-circle {
    margin-top: -50px;
  }

  .upload-box {
    margin-top: 30px;
    padding-top: 15px;
  }

  .section-container .code {
    margin-top: 120px;
  }

  .focus-box {
    margin-top: 120px;
  }
}

@media (max-width: 1310px) {
  .nav-bg:after {
    display: none;
  }
  .nav-name {
    top: 0;
    left: -60px;
  }
}

@media (max-width: 1125px) {
  .nav_active .nav-name {
    animation-fill-mode: backwards;
  }
}

@media (max-width: 1110px) {
  .navs {
    display: none;
  }
}

.vertical {
  .page1-logo {
    margin-top: -100px;
    margin-left: 80px;
    @include sprite($section-title);
  }

  .page1-info {
    font-size: 20px;
  }

  .page1 {
    background-image: url(../images/page1-img-ver.png);
    background-size: 100%;
  }

  .body-bg {
    background-image: url(../images/bg_2-ver.png);
    background-size: contain;
  }

  .img-news-title {
    font-size: 16px;
  }

  .news {
    height: 21px;
    font-size: 16px;
    overflow: hidden;
  }

  .block-info {
    font-size: 16px;
  }

  .block-boder {
    height: 410px;
  }

  .title-info {
    font-size: 16px;
  }

  .section-title {
    padding-top: 100px;
  }
}

textarea.form-input {
  height: 83px;
}

@keyframes leftFadeIn {
  from {
    width: 0;
  }
  to {
    width: 56px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes upFadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 1000px, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scaleFadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}