@charset "UTF-8";

@import "./icon.scss";

body,
ul,li,
h1,h2,h3,h4,h5,
p { padding: 0; margin: 0;}

ul,li,ol { list-style-type: none;} img { vertical-align: top; border-style:none; }  /* reset img vertical align */
a,a:visited { color: #333; text-decoration: none;} a:hover { color: #d00005; text-decoration: none;}
a:focus {outline:none;}
/*body { font:12px/1.5 Tahoma,Helvetica,Arial,"\5B8B\4F53","\5FAE\8F6F\96C5\9ED1",sans-serif; }*/
body { font:12px/1.5 Arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
// .topIndex .hdTopCon { width: 1000px;}  /* reset top header */



/* 公共底部 */
.mod-footer {font-family: "\5B8B\4F53"; line-height: 24px; background-color: #fff; font-size: 12px; } 
.mod-footer .main { width: 1000px; margin: 0 auto;}
.mod-footer .f_products {color: #fff; padding: 10px 0; background-color: #0a70b1; border-bottom: 3px solid #e6e5e6; overflow: hidden; } 
.mod-footer .f_products a {display: inline-block; *display: inline; *zoom: 1;color: #89c3eb; padding-left: 12px;  text-decoration: none;
	background: url(../images/footer_icon.png) -6px 2px no-repeat; 
}
.mod-footer .f_products a:hover {color: #fff; text-decoration: none; }
.mod-footer .f_products li { float: left; display: inline; border-left: 1px solid #3288bf; padding: 0 30px 0 40px; } 
.mod-footer .f_products li.col_1 {width: 120px; }
.mod-footer .f_products li.col_1 a {display: block; }
.mod-footer .f_products li.col_2 {width: 240px; padding-right: 20px; }
.mod-footer .f_products li h3 { font-weight: bold; font-size: 14px; text-indent: 12px; font-family: "\5FAE\8F6F\96C5\9ED1";}
.mod-footer .f_products li.col_2 a {width: 102px; }
.mod-footer .f_products li.col_3 {width: 465px; padding-right: 0; border-right: 1px solid #3288bf; }
.mod-footer .f_products li.col_3 a {margin-right: 18px; min-width: 72px; }
.mod-footer .f_links {padding: 20px 0; text-align: center; }
.mod-footer .f_links a:hover {color: #cd0200;text-decoration: underline;}
.mod-footer .f_links i {color: #e5e5e5; margin: 0 5px; font-style: normal; }

// 公用
    // 总体页面宽度
    .content {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }

    // 投诉
    .complaint {
        padding-left: 30px;
        line-height: 20px;
        @extend .icon;
        @include sprite-height($icon_mail_orangle);
        @include sprite-position($icon_mail_orangle);
        background-repeat: no-repeat;
        color: #f63!important;
    }

// header部分
.header {
    height: 92px;
}

.header-logo {
    float: left;
    margin-right: 20px;
    margin: 25px 20px 0 0;
    width: 140px;
    height: 46px;
    text-indent: -999px;
    background: url(../images/logo.png) no-repeat;
}

.header-title {
    line-height: 92px;
    font-size: 14px;
    color: #989898;
}

.header-search {
    float: right;
    position: relative;

    form {
        line-height: 92px;
    }

    input[type="text"] {
        padding: 0 20px;
        width: 218px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #ccc;
        border-radius: 16px;
        outline-style: none;
    }

    .icon {
        position: absolute;
        top: 34px;
        right: 7px;

        background-color: transparent;
        @include sprite($icon_search);

        border: none;

        cursor: pointer;
    }
}

// nav
.nav {
    height: 55px;
    background: #f8f8f8;

    .complaint {
        float: right;
        margin-top: 17.5px;
    }
}

.nav-main {
    float: left;
    font-size: 0;
    a {
        font-size: 16px;
        color: #515b63;
    }

    &>a {
        display: inline-block;
        width: 100px;
        padding:  15.5px 0;
        text-align: center;
    }

    ul {
        display: none;
        position: absolute;
        padding: 8px 0;
        border: 1px solid #f3f3f3;
        background: #fff;
    }


    li {
        a {
            display: inline-block;
            padding: 14px 22px;
            width: calc(100% - 44px);
            font-size: 13px;
        }
    }

    li:hover {
        background: #f8f8f8;
    }
}

.nav-main:hover {
    ul {
        display: block;
    }
}

.nav-main.active {
    background: #515b63;

    &>a {
        color: #fff;
    }
}

.nav-small {
    float: right;
    padding: 0 5px;
    line-height: 55px;
}

// 投诉须知
.complaint-info {
	margin-top: 20px;

	p {
		line-height: 1.875;
		font-size: 16px;
		color: rgb(153, 153, 153);
	}

	.complaint-title {
		line-height: 60px;
		font-size: 24px;
		color: rgb(102, 102, 102);
	}
}

// form
.form {
	margin: 25px 0 50px;
	padding: 0 20px 0 40px;
	width: 878px;
	background: #fafafa;
	border: 1px solid rgb(230, 230, 230);
	overflow: hidden;
}

// 投诉人信息
.form-row {
	padding-bottom: 30px;
	border-bottom: 1px solid rgb(230, 230, 230);

	p {
		padding: 25px 0;
		font-size: 18px;
		line-height: 1.667;
		color: rgb(102, 102, 102);
	}
}

.form-control {
	padding: 15px 0;

	label {
		display: inline-block;
		padding-left: 20px;
		margin-right: 10px;
		width: 130px;
		height: 40px;
		line-height: 40px;
		vertical-align: top;
		font-size: 16px;
		color: rgb(102, 102, 102);
		overflow: hidden;
	}

	input {
		width: 242px;
  	height: 35px;
  	border: 1px solid rgb(230, 230, 230);
  	border-radius: 3px;
  	background-color: rgb(255, 255, 255);
	}

	input:focus {
		outline-color: rgb(255, 102, 51);
	}

	.long-input {
		width: 568px;
	}

	span {
		margin-left: 10px;
		color: #666;
	}

	textarea {
		width: 592px;
  	height: 242px;
  	border: 1px solid rgb(230, 230, 230);
  	border-radius: 3px;
	}

	button {
		display: block;
		margin: 20px auto 15px;
		width: 250px;
  	height: 45px;
  	font-size: 16px;
  	color: #fff;
  	border: 1px solid #0080e2;
  	border-radius: 2px;
  	background: #0080e2;
	}
}

.form-required {
	position: relative;

	&:before {
		content: '*';
		position: absolute;
		top: 0;
		left: 5px;
		line-height: 50px;
		font-size: 20px;
		color: red;
	}
}

// 友情链接
.friend {
    background: #f2f2f2;
}

.friend-header {
    margin-top: 30px;
    line-height: 32px;
    font-size: 14px;
    color: #999;

    span {
        float: left;
        font-size: 18px;
        color: #666;
    }

    a {
        display: inline-block;
        padding: 0 20px;
        vertical-align: middle;
        color: #999;
    }
}

.friend-links {
    margin: 25px 0 30px;
    overflow: hidden;
}

.select-link {
    // position: relative;
    // float: left;
    margin-left: 25px;
    // padding: 0 40px 0 10px;
    // width: 120px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #666;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    cursor: pointer;

    &:first-child {
        margin-left: 0;
    }

    .icon {
        position: absolute;
        top: 3px;
        right: 3px;
        @include sprite($icon_selector, inline-block);
    }
}