.icon, .nav_tabs .tab_hd .tab_hd_btns li strong, .equalTxt_list .link, .equalTxt_list .e_tle strong, .mod-footer .f_products a, .mod-channelNav .navMenu a, .iconGo, .mod-editorial .accordion_list p, .hd strong, .mod-hqGuest .pic_list .media .p_tle *, .mod-partners .partners_items .item {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.nav_tabs .tab_hd .tab_hd_btns {
  margin-left: auto;
  margin-right: auto; }

.m_l, .m_r, .media .media_l, .nav_tabs .tab_hd .tab_hd_btns li, .nav_tabs .tab_bd .tbody, .pic_list li, .pic_list.pic_list-mixin .p_img, .lumpNews_list li, .equalTxt_list li, .mod-focus .focus_list li, .mod-footer .f_products li {
  float: left;
  display: inline; }

.main, .ad-box, .row, .media, .nav_tabs .tab_hd .tab_hd_btns, .nav_tabs .tab_bd, .pic_list, .lumpNews_list, .equalTxt_list, .bd {
  *zoom: 1; }
  .main:before, .ad-box:before, .row:before, .media:before, .nav_tabs .tab_hd .tab_hd_btns:before, .nav_tabs .tab_bd:before, .pic_list:before, .lumpNews_list:before, .equalTxt_list:before, .bd:before, .main:after, .ad-box:after, .row:after, .media:after, .nav_tabs .tab_hd .tab_hd_btns:after, .nav_tabs .tab_bd:after, .pic_list:after, .lumpNews_list:after, .equalTxt_list:after, .bd:after {
    content: "";
    display: table; }
  .main:after, .ad-box:after, .row:after, .media:after, .nav_tabs .tab_hd .tab_hd_btns:after, .nav_tabs .tab_bd:after, .pic_list:after, .lumpNews_list:after, .equalTxt_list:after, .bd:after {
    clear: both; }

.pic_list li .mask, .pic_list .cover, .accordion_list .cur p {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#80000000', endColorstr='#80000000');
  background-color: rgba(0, 0, 0, 0.5); }

.pic_list .iconGo-video-lg, .equalTxt_list .link, .mod-soleProduct .pic_list-clean li img, .mod-hqVideo .pic_list li img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.mod-channelNav .navMenu {
  font-size: 1em;
  letter-spacing: -.25em;
  font-family: Arial; }

.mod-channelNav .navMenu li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  letter-spacing: 0;
  vertical-align: top; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */ }

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 12px;
  /* 0 */
  line-height: 1.5;
  /* 0 */
  color: #333;
  /* 0 */
  background-color: #fff;
  /* 0 */ }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  /* 3 */
  *zoom: 1;
  /* 3 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #4b4b4b; }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */ }

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  _font-family: 'courier new', monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

html,
button,
input,
select,
textarea {
  font-family: "Arial", "SimSun", Helvetica, Tahoma, sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 15.6px; }

h3 {
  font-size: 14.04px; }

h4 {
  font-size: 12px; }

h5, h6 {
  font-size: 10.2px;
  text-transform: uppercase; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc; }

.m_l, .m_r {
  width: 300px; }

.m_l {
  width: 680px;
  margin-right: 20px; }

body {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Microsoft Yahei";
  background-color: #fff; }

a {
  color: #707070; }

.main, .ad-box {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin-bottom: 30px; }

.m_l, .m_r {
  width: 300px; }

.m_l {
  width: 680px;
  margin-right: 20px; }

.line {
  font-style: normal;
  font-weight: normal;
  max-resolution: 0 3px; }

.ad-box {
  max-height: 100px;
  margin-bottom: 30px; }

.ad-side {
  max-height: 250px; }

.icon {
  vertical-align: middle;
  text-indent: -999em;
  width: 20px;
  height: 20px;
  background-image: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/images//icon.png);
  background-repeat: no-repeat; }

.icon-arrowL-gray {
  width: 20px;
  height: 30px;
  background-position: 0 -30px; }

.icon-arrowR-gray {
  width: 20px;
  height: 30px;
  background-position: -20px -30px; }

.media .media_l {
  margin-right: 20px; }

.media .media_body {
  overflow: hidden; }

.nav_tabs {
  position: relative; }
  .nav_tabs .tab_hd {
    font-size: 18px; }
    .nav_tabs .tab_hd .tab_hd_btns {
      width: 288px;
      line-height: 36px;
      border-radius: 3px; }
      .nav_tabs .tab_hd .tab_hd_btns li {
        width: 50%;
        cursor: pointer; }
        .nav_tabs .tab_hd .tab_hd_btns li strong {
          vertical-align: middle;
          font-weight: normal; }
    .nav_tabs .tab_hd .more {
      position: absolute;
      top: 0;
      right: 0; }
  .nav_tabs .tab_bd {
    overflow: hidden; }
    .nav_tabs .tab_bd .tbody {
      width: 1000px; }

.pic_list {
  font-size: 14px;
  margin: -10px -10px 0 0; }
  .pic_list li {
    margin: 10px 10px 0 0; }
    .pic_list li .link {
      position: relative;
      display: block;
      color: #fff;
      overflow: hidden; }
      .pic_list li .link:hover .iconGo-video-lg {
        opacity: 1;
        filter: alpha(opacity=100); }
      .pic_list li .link:hover .cover {
        height: 160px; }
    .pic_list li .p_txt {
      overflow: hidden;
      color: #707070;
      background-color: #fff; }
      .pic_list li .p_txt .p_tle {
        color: #4b4b4b;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        max-height: 48px;
        overflow: hidden;
        margin-bottom: 10px; }
      .pic_list li .p_txt .p_des {
        height: 44px;
        overflow: hidden; }
    .pic_list li .mask {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
      .pic_list li .mask .p_tle {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        margin: 0 10px;
        overflow: hidden; }
      .pic_list li .mask .p_des {
        margin: 10px;
        overflow: hidden; }
    .pic_list li img {
      width: 100%;
      height: 100%; }
    .pic_list li.picC_large .link {
      width: 490px !important;
      height: 370px !important; }
    .pic_list li.picC_large .mask .p_tle {
      margin: 0 20px;
      border-bottom: 2px solid #fff; }
    .pic_list li.picC_large .mask .p_des {
      margin: 10px 20px;
      height: 80px; }
  .pic_list.pic_list-mixin li {
    margin-top: 24px; }
  .pic_list.pic_list-mixin .p_img {
    width: 170px;
    height: 120px;
    padding: 2px;
    background-color: #e5e5e5;
    margin-right: 20px; }
  .pic_list.pic_list-mixin .p_txt .p_tle {
    font-size: 20px;
    max-height: 24px;
    margin-bottom: 15px; }
  .pic_list.pic_list-mixin .p_txt .p_des {
    font-size: 16px;
    height: 76px; }
  .pic_list.pic_list-lump {
    margin-right: -13px; }
    .pic_list.pic_list-lump li {
      margin-right: 13px; }
      .pic_list.pic_list-lump li .link {
        width: 240px; }
      .pic_list.pic_list-lump li .p_txt {
        height: 135px;
        padding: 10px 20px; }
      .pic_list.pic_list-lump li .p_des {
        height: 68px; }
    .pic_list.pic_list-lump img {
      height: 176px; }
  .pic_list.pic_list-clean li .link {
    width: 245px;
    height: 180px; }
  .pic_list.pic_list-anomaly {
    margin-right: -5px; }
    .pic_list.pic_list-anomaly li {
      margin-right: 5px; }
      .pic_list.pic_list-anomaly li .link {
        width: 320px;
        height: 396px; }
    .pic_list.pic_list-anomaly .col_2 {
      margin-top: 5px; }
      .pic_list.pic_list-anomaly .col_2 .link {
        width: 350px;
        height: 195px;
        margin-top: 5px; }
  .pic_list .iconGo-video-lg {
    opacity: 0;
    filter: alpha(opacity=0); }
  .pic_list .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.4s ease;
    transition: height 0.4s ease; }

.accordion_list {
  font-size: 16px;
  margin-top: -4px; }
  .accordion_list li {
    margin-top: 4px;
    background-color: #fff;
    cursor: pointer; }
  .accordion_list .link {
    display: block; }
  .accordion_list .showElm {
    height: 0;
    overflow: hidden; }
    .accordion_list .showElm img {
      width: 100%;
      width: 100%; }
  .accordion_list p {
    height: 40px;
    line-height: 40px;
    text-indent: 16px; }
  .accordion_list .cur {
    position: relative; }
    .accordion_list .cur .link {
      color: #fff; }
    .accordion_list .cur p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }

.lumpNews_list {
  margin: -10px 0 0 -10px;
  font-size: 14px; }
  .lumpNews_list li {
    width: 240px;
    margin-left: 10px; }
    .lumpNews_list li img {
      width: 100%;
      height: 205px; }
  .lumpNews_list .link {
    display: block; }
  .lumpNews_list .lumpItem {
    margin-top: 10px;
    background-color: #fff; }
  .lumpNews_list .imgItem {
    margin-bottom: 10px; }
  .lumpNews_list .txtItems {
    height: 185px;
    padding: 10px 20px; }
  .lumpNews_list .l_tle {
    color: #4b4b4b;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    max-height: 48px;
    margin-bottom: 10px;
    overflow: hidden; }
  .lumpNews_list .l_des {
    height: 126px;
    overflow: hidden; }

.equalTxt_list {
  color: #fff;
  font-size: 14px;
  text-align: center; }
  .equalTxt_list.col_2 li {
    width: 50%; }
  .equalTxt_list.col_3 li {
    width: 33.33%; }
  .equalTxt_list.col_4 li {
    width: 25%; }
  .equalTxt_list.col_5 li {
    width: 20%; }
  .equalTxt_list.col_6 li {
    width: 16.66666666666667%; }
  .equalTxt_list li {
    width: 20%; }
  .equalTxt_list .link {
    color: #fff;
    font-size: 16px;
    padding: 0 5px;
    border-radius: 3px; }
    .equalTxt_list .link:hover {
      color: #727ba3;
      background-color: #fff; }
  .equalTxt_list .e_tle {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px; }
    .equalTxt_list .e_tle strong {
      font-weight: normal;
      border-bottom: 1px solid #fff; }

.mod-focus {
  position: relative;
  height: 350px;
  margin-bottom: 20px;
  overflow: hidden; }
  .mod-focus .focus_list {
    height: 394px; }
    .mod-focus .focus_list li {
      position: relative;
      width: 1000px;
      height: 100%; }
      .mod-focus .focus_list li img {
        width: 100%;
        height: 100%; }
      .mod-focus .focus_list li .link {
        display: block;
        width: 100%;
        height: 100%; }
      .mod-focus .focus_list li .f_slogan {
        position: absolute;
        top: 85px;
        width: 100%;
        text-align: center;
        font-size: 24px;
        color: #fff;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
        .mod-focus .focus_list li .f_slogan .f_tle {
          display: inline-block;
          font-size: 36px;
          border-bottom: 1px solid #fff; }
  .mod-focus .focus_page {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; }
    .mod-focus .focus_page a {
      display: inline-block;
      text-indent: -99em;
      width: 8px;
      height: 8px;
      margin: 0 2px;
      border-radius: 50%;
      background-color: #fff; }
      .mod-focus .focus_page a.selected {
        background-color: #8d50ad; }
  .mod-focus .f_arr_prev, .mod-focus .f_arr_next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: -30px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33000000', endColorstr='#33000000');
    background-color: rgba(0, 0, 0, 0.2); }
  .mod-focus .f_arr_prev {
    left: 0; }
  .mod-focus .f_arr_next {
    right: 0; }
  .mod-focus .focus_cover .focus_container {
    position: relative;
    width: 3000px;
    margin-left: -1000px; }
  .mod-focus .focus_cover .f_cover {
    position: absolute;
    top: 0;
    width: 1000px;
    height: 100%;
    z-index: 30;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#61000000', endColorstr='#61000000');
    background-color: rgba(0, 0, 0, 0.38); }
    .mod-focus .focus_cover .f_cover.coverL {
      left: 0; }
    .mod-focus .focus_cover .f_cover.coverR {
      right: 0; }
  .mod-focus .focus_cover .focus_opts {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    z-index: 30; }

.mod-footer {
  font-family: "SimSun";
  line-height: 24px;
  background-color: #fff; }
  .mod-footer .f_products {
    color: #fff;
    padding: 10px 0;
    background-color: #0a70b1;
    border-bottom: 3px solid #e6e5e6; }
    .mod-footer .f_products a {
      color: #89c3eb;
      padding-left: 12px;
      background: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/images//icon.png) -188px 1px no-repeat; }
      .mod-footer .f_products a:hover {
        color: #fff; }
    .mod-footer .f_products li {
      border-left: 1px solid #3288bf;
      padding: 0 30px 0 40px; }
      .mod-footer .f_products li.col_1 {
        width: 120px; }
        .mod-footer .f_products li.col_1 a {
          display: block; }
      .mod-footer .f_products li.col_2 {
        width: 240px;
        padding-right: 20px; }
        .mod-footer .f_products li.col_2 a {
          width: 102px; }
      .mod-footer .f_products li.col_3 {
        width: 465px;
        padding-right: 0;
        border-right: 1px solid #3288bf; }
        .mod-footer .f_products li.col_3 a {
          margin-right: 18px;
          min-width: 72px; }
  .mod-footer .f_links {
    padding: 20px 0;
    text-align: center; }
    .mod-footer .f_links i {
      color: #e5e5e5;
      margin: 0 5px;
      font-style: normal; }

.mod-channelNav {
  height: 70px;
  background: #e6e0ed url(http://himg2.huanqiu.com/statics/www/hqnet/dist/channel/lvyou/images//channelNav_go.jpg) top center; }
  .mod-channelNav .main, .mod-channelNav .ad-box {
    position: relative; }
  .mod-channelNav .channelLogo {
    position: absolute;
    top: -40px;
    left: 0;
    width: 155px;
    height: 95px;
    text-indent: -999em;
    background-image: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/channel/lvyou/images//channelLogo_go.png); }
  .mod-channelNav .navMenu {
    font-size: 16px;
    margin: 20px 180px 0; }
    .mod-channelNav .navMenu li {
      position: relative;
      height: 50px;
      font-family: "Microsoft Yahei"; }
    .mod-channelNav .navMenu a {
      color: #2b2b2b;
      height: 30px;
      line-height: 30px;
      padding: 0 12px;
      margin: 0 3px; }
      .mod-channelNav .navMenu a:hover {
        color: #8d50ad; }
    .mod-channelNav .navMenu i {
      display: none;
      position: absolute;
      left: 50%;
      bottom: 0;
      font-size: 0;
      width: 0;
      height: 0;
      margin-left: -6px;
      overflow: hidden;
      border: 6px dashed transparent;
      border-bottom: 6px solid #00b7ee; }
    .mod-channelNav .navMenu .cur a {
      color: #fff;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      background-color: #8d50ad; }
    .mod-channelNav .navMenu .cur i {
      display: block; }
  .mod-channelNav .navSearch {
    position: absolute;
    top: 20px;
    right: 0;
    width: 160px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #fff; }
    .mod-channelNav .navSearch .searchBox, .mod-channelNav .navSearch .searchBtn {
      height: 30px;
      border: none; }
    .mod-channelNav .navSearch .searchBox {
      display: block;
      width: 130px;
      padding-left: 5px;
      background-color: transparent; }
    .mod-channelNav .navSearch .searchBtn {
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      background: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/images//icon.png) 0 4px no-repeat; }

.mod-scrollPicList {
  position: relative;
  padding: 0 30px; }
  .mod-scrollPicList .s_arr_prev, .mod-scrollPicList .s_arr_next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    text-align: center; }
  .mod-scrollPicList .s_arr_prev {
    left: 0; }
  .mod-scrollPicList .s_arr_next {
    right: 0; }

body {
  min-width: 1020px;
  background-color: #eee; }

.mod-channelNav .navMenu {
  margin: 20px 160px 0 !important; }

.iconGo, .mod-editorial .accordion_list p {
  vertical-align: middle;
  text-indent: -999em;
  width: 20px;
  height: 20px;
  background-image: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/channel/lvyou/images//go_icon.png);
  background-repeat: no-repeat; }

.iconGo-information {
  background-position: 0 0;
  margin-right: 2px; }

.iconGo-editorial {
  background-position: -20px 0; }

.iconGo-strategy {
  width: 25px;
  background-position: -40px 0; }

.iconGo-equip {
  width: 25px;
  background-position: -70px 0; }

.iconGo-more {
  background-position: -100px 0; }

.iconGo-more-gray {
  background-position: -120px 0; }

.iconGo-more-white {
  background-position: -140px 0; }

.iconGo-travelMake {
  width: 30px;
  height: 40px;
  background-position: 0 -50px; }

.iconGo-hotMap {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  background-position: 0 -20px; }

.iconGo-hotRoute {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  background-position: -60px -20px; }

.iconGo-hqGuest {
  width: 30px;
  height: 40px;
  background-position: -60px -50px; }

.iconGo-video {
  width: 30px;
  height: 40px;
  background-position: -30px -50px; }

.iconGo-arrowL {
  width: 25px;
  height: 30px;
  background-position: -120px -20px; }

.iconGo-arrowR {
  width: 25px;
  height: 30px;
  background-position: -140px -20px; }

.iconGo-video-lg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  background-position: 0 -90px; }

.cur .iconGo-hotMap {
  background-position: -30px -20px; }

.cur .iconGo-hotRoute {
  background-position: -90px -20px; }

.hd {
  position: relative;
  font-size: 20px;
  color: #8d50ad;
  line-height: 45px;
  height: 45px;
  margin-bottom: 10px; }
  .hd strong {
    vertical-align: middle; }
  .hd .more {
    position: absolute;
    top: 10px;
    right: 0;
    height: 30px;
    line-height: 30px; }
  .hd.hd-large {
    font-size: 28px;
    text-align: center;
    margin: 15px 0 0 0; }
  .hd .cur {
    background: #fff;
    border-radius: 3px;
    color: #a14796;
    font-size: 15px;
    padding: 2px 10px; }

.mod-focus {
  height: 394px; }

.mod-information {
  width: 740px;
  height: 476px;
  overflow: hidden; }

.mod-editorial {
  width: 240px;
  height: 476px;
  overflow: hidden; }
  .mod-editorial .accordion_list .showElm img {
    height: 205px; }
  .mod-editorial .accordion_list p {
    width: 100%;
    height: 40px;
    text-indent: 20px;
    background-position: -180px 18px; }
  .mod-editorial .accordion_list .cur {
    background-color: #8d50ad; }
    .mod-editorial .accordion_list .cur p {
      position: static;
      color: #fff;
      background-position: -180px -6px;
      background-color: transparent; }

.mod-travelMake {
  border-top: 1px solid #6b548f;
  height: 1269px;
  background: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/channel/lvyou/images//travelMake.jpg) top center no-repeat; }
  .mod-travelMake .hd {
    color: #fff; }

.mod-soleProduct {
  margin-bottom: 20px; }
  .mod-soleProduct .pic_list-clean li .link:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.mod-solePlan {
  margin-bottom: 40px; }

.mod-hotRoute .nav_tabs .tab_hd .tab_hd_btns {
  border: 1px solid #fff; }
  .mod-hotRoute .nav_tabs .tab_hd .tab_hd_btns li {
    color: #fff; }
    .mod-hotRoute .nav_tabs .tab_hd .tab_hd_btns li.cur {
      color: #7b7ca2;
      background-color: #fff; }

.mod-hotRoute .hotMap_con .equalTxt_list {
  padding-top: 60px; }
  .mod-hotRoute .hotMap_con .equalTxt_list .link {
    font-size: 20px; }

.mod-hotRoute .hotRoute_con .equalTxt_list {
  padding-top: 60px;
  height: 250px;
  background: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/channel/lvyou/images//travelMake_equalTxtList.png) no-repeat; }

.mod-hqGuest .hd-large {
  margin: 15px 0 20px 0; }

.mod-hqGuest .nav_tabs .tab_hd .tab_hd_btns {
  border: 1px solid #8d50ad; }
  .mod-hqGuest .nav_tabs .tab_hd .tab_hd_btns li {
    color: #8d50ad;
    text-align: center; }
    .mod-hqGuest .nav_tabs .tab_hd .tab_hd_btns li.cur {
      color: #fff;
      background-color: #8d50ad; }

.mod-hqGuest .nav_tabs .tab_bd {
  padding-top: 20px; }

.mod-hqGuest .pic_list {
  margin-right: -22px; }
  .mod-hqGuest .pic_list li {
    margin-right: 22px; }
  .mod-hqGuest .pic_list .link {
    width: 298px; }
  .mod-hqGuest .pic_list img {
    height: 160px; }
  .mod-hqGuest .pic_list .media {
    padding: 20px; }
    .mod-hqGuest .pic_list .media .p_tle {
      white-space: nowrap; }
      .mod-hqGuest .pic_list .media .p_tle * {
        vertical-align: middle; }
    .mod-hqGuest .pic_list .media .p_des {
      color: #8d50ad;
      font-size: 16px;
      line-height: 22px;
      padding-left: 26px;
      background: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/channel/lvyou/images//go_icon.png) -180px -50px no-repeat; }
    .mod-hqGuest .pic_list .media img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 2px solid #e5e5e5; }

.mod-hqVideo {
  height: 505px;
  background: url(http://himg2.huanqiu.com/statics/www/hqnet/dist/channel/lvyou/images//hqVideo.jpg) top center no-repeat; }
  .mod-hqVideo .hd {
    color: #fff;
    margin-bottom: 20px; }
  .mod-hqVideo .pic_list li .link:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.mod-strategy {
  height: 686px;
  overflow: hidden; }
  .mod-strategy .bd {
    padding: 20px 30px 27px;
    background-color: #fff; }

.mod-equip {
  height: 416px;
  overflow: hidden;
  margin-bottom: 20px; }
  .mod-equip .showElm {
    height: 185px; }

.mod-partners .bd {
  padding: 27px 20px;
  background-color: #fff; }

.mod-partners .partners_items {
  height: 200px;
  overflow: hidden; }
  .mod-partners .partners_items .item {
    font-size: 16px;
    margin-right: 10px; }

.mod-about .bd {
  padding: 20px;
  background-color: #fff; }

.mod-about .about_items {
  color: #8d50ad;
  font-size: 14px; }
  .mod-about .about_items .about_top {
    margin-bottom: 20px; }
    .mod-about .about_items .about_top .a_tle {
      color: #000;
      font-size: 14px;
      font-weight: normal; }
  .mod-about .about_items .media .media_l {
    text-align: center;
    font-size: 12px;
    margin-right: 9px; }
    .mod-about .about_items .media .media_l strong {
      font-size: 16px;
      margin-right: 5px; }
    .mod-about .about_items .media .media_l img {
      border: 2px solid #8d50ad;
      width: 72px;
      height: 72px;
      margin: 5px 0; }
  .mod-about .about_items .media .media_body {
    color: #676767;
    line-height: 20px;
    height: 100px;
    overflow: hidden; }
