@charset "UTF-8";
//-----------------------------------------------------
// author:      Teng MM
// time:        2015-08-18
// mail:        tengxumin@huanqiu.com
//-----------------------------------------------------


// 导入core中的基础文件  @import "../../../../sassCore/core/reset";
//-----------------------------------------------------
@import "../../../../sassCore/base"; 

// 默认变量
$baseUrl:  	"../../../images/"; //http://himg2.huanqiu.com/statics/www/hqnet/dist/images/
$curUrl:   	"../images/";		//http://himg2.huanqiu.com/statics/www/hqnet/dist/channel/lvyou/images/
$channelName: 	"explore"; 		//频道名称
$name: 			"explore"; 		//icon图片背景后缀
$cNavDefault: #2b2b2b;   		//默认 a 文字颜色
$cNavArrow: #8d50ad;			//导航箭头
$cPrimary: #8d50ad;   			//主色调--导航背景颜色，a选中颜色




// 载入自定义公用碎片  src/import文件夹
//-----------------------------------------------------
@import "../../../import/layout";     		//基础框架
@import "../../../import/icon";     		//全站icon
@import "../../../import/media"; 			//媒体查询
@import "../../../import/nav_tabs"; 		//导航tabs
@import "../../../import/pic_list"; 		//图片列表
@import "../../../import/accordion_list"; 	//手风琴列表
@import "../../../import/lumpNews_list"; 	//块图文列表
@import "../../../import/equalTxt_list"; 	//等分文字列表
@import "../../../import/mod-focus"; 		//焦点图模块
@import "../../../import/mod-footer"; 		//公共底部模块
@import "../../../import/mod-channelNav"; 	//频道导航模块
@import "../../../import/mod-scrollPicList";//滚动图片列表模块 

body {
	background-color: #eee;
}

.hdTopCon {
	width: 1000px!important;
}

// 旅游频道环球探知图标 iconEx iconEx-arrow
.iconEx {
	@extend %inline-block;
	vertical-align: middle;
	text-indent: -999em;
	width: 20px;
	height: 20px;
	background-image: url(#{$curUrl}/#{$name}_icon.png);
	background-repeat: no-repeat;
}
.iconEx-hqKnowExpert {
	width: 30px;
	height: 40px;
	background-position: 0 -30px;
}
.iconEx-arrowL {
	height: 40px;
	background-position: -30px -30px;
}
.iconEx-arrowR {
	height: 40px;
	background-position: -50px -30px;
}
.iconEx-more {
	background-position: -120px 0;
}
.iconEx-more-white {
	background-position: -140px 0;
}
.iconEx-news {
	width: 25px;
	height: 30px;
	background-position: 0 0;
}
.iconEx-travels {
	height: 30px;
	background-position: -60px 0;
}
.iconEx-salon {
	height: 30px;
	background-position: -85px 0;
}
.iconEx-tag {
	width: 44px;
	height: 48px;
	background-position: -120px -20px;
}
.iconEx-travelProduct {
	height: 30px;
	background-position: -30px 0;
}

// 通用
.hd {
	position: relative;
	font-size: 20px;
	color: #8d50ad;
	line-height: 45px;
	height: 45px;
	margin-bottom: 10px;
	strong {
		@extend %inline-block;
		vertical-align: middle;
	}
	.more {
		position: absolute;
		top: 10px;
		right: 0;
		height: 30px;
		line-height: 30px;
	}
	&.hd-large {
		font-size: 28px;
		text-align: center;
		margin: 15px 0 0 0;
	}
}
.bd {
	@extend %clearfix;
}

// ********* 焦点图 *********//
.mod-focus {
	width: 666px;
	margin-right: 0;
	.focus_list {
		li {
			width: 666px;
		}
	}
}

// ********* 快讯 *********//
.mod-news {
	width: 290px;
	height: 330px;
	padding: 10px 11px 10px 33px;
	background-color: #fff;
}
.news_list {
	overflow: hidden;
	font-size: 14px;
	li {
		height: 105px;
		margin-top: -1px;
		padding: 15px 0;
		border-top: 1px solid #a0a0a0;
	}
	.n_tle {
		font-size: 18px;
		line-height: 24px;
		color: #4b4b4b;
		max-height: 48px;
		margin-bottom: 15px;
		overflow: hidden;
	}
	p {
		overflow: hidden;
		height: 42px;		
	}
}
// ********* 旅行产品 *********//
.mod-travelProduct {
	.pic_list {
		li { 
			.p_txt {
				height: 70px;
			}
			img {
				height: 160px;
			}
			.cover {
				.vc_btn {
					position: absolute;
					top: 50%;
					left: 50%;
					color: #fff;
					width: 115px;
					line-height: 36px;
					text-align: center;
					border-radius: 2px;
					margin: -18px 0 0 -57.5px;
					background-color: #1a98bf;
				}
			}
		}
		.picC_large {
			.link {
				width: 494px;
				height: 200px;
				img {
					height: 100%;
				}
			}
			.mask {
				padding: 15px 0;
				.p_tle {
					border-bottom: none;
					height: 24px;
					line-height: 24px;
				}
				
				.p_des {
					height: 20px;
					line-height: 20px;
					margin: 0 20px;
				}
			}
		}
	}
}



// ********* 环球知行者 *********//
.mod-knowExpert {
	height: 415px;
	overflow: hidden;
	background: url(#{$curUrl}/knowExpert.jpg) top center no-repeat;
	.hd {
		color: #fff;
		margin-bottom: 40px;
	} 
	// 图片列表重置
	.pic_list {
		margin-right: -22px;
		li {
			margin-right: 22px;
		}
		.link {
			width: 298px;
		}
		img {
			height: 160px;
		}
		.media {
			padding: 20px;
			.p_tle {
				white-space: nowrap;
				* {
					@extend %inline-block;
					vertical-align: middle;
				}
			}
			.p_des {
				color: $cPrimary;
				font-size: 16px;
				line-height: 22px;
				padding-left: 26px;
				background: url(#{$curUrl}/#{$name}_icon.png) -180px 0 no-repeat;
			}
			img {
				width: 64px;
				height: 64px;
				border-radius: 50%;
				border: 2px solid #e5e5e5;
			}
		}
	}
}


// ********* 游记 *********//
.mod-travels {
	.bd {
		height: 646px;
		padding: 13px 20px 20px;
		background-color: #fff;
		overflow: hidden;
		.pic_list li {
			margin-top: 22px;
		}
		.pic_list .p_img {
			position: relative;
			width: 212px;
			height: 136px;
			padding: 3px;
		}
		.iconEx-tag {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 30;
		}
	}
}


// ********* 沙龙 *********//
.mod-salon {
	height: 420px;
	overflow: hidden;
	.accordion_list .cur p {
		position: static;
		background-color: $cPrimary;
	}
	.showElm {
		height: 189px; 
	}
}

 

// ********* 关于我们 *********// 
.mod-about {
	.bd {
		height: 218px;
		padding: 20px;
		overflow: hidden;
		background-color: #fff;
	}  
	.about_items {
		font-size: 14px;
		color: #707070;
		strong {
			color: $cPrimary;
			display: block;
		}
		p {
		
			padding-bottom: 4px;
		}
	}
}

