@charset "UTF-8";

@import "./icon.scss";

body,
ul,li,
h1,h2,h3,h4,h5,
p { padding: 0; margin: 0;}

ul,li,ol { list-style-type: none;} img { vertical-align: top; border-style:none; }  /* reset img vertical align */
a,a:visited { color: #333; text-decoration: none;} a:hover { color: #d00005; text-decoration: none;}
a:focus {outline:none;}
/*body { font:12px/1.5 Tahoma,Helvetica,Arial,"\5B8B\4F53","\5FAE\8F6F\96C5\9ED1",sans-serif; }*/
body { font:12px/1.5 Arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
// .topIndex .hdTopCon { width: 1000px;}  /* reset top header */



/* 公共底部 */
.mod-footer {font-family: "\5B8B\4F53"; line-height: 24px; background-color: #fff; font-size: 12px; } 
.mod-footer .main { width: 1000px; margin: 0 auto;}
.mod-footer .f_products {color: #fff; padding: 10px 0; background-color: #0a70b1; border-bottom: 3px solid #e6e5e6; overflow: hidden; } 
.mod-footer .f_products a {display: inline-block; *display: inline; *zoom: 1;color: #89c3eb; padding-left: 12px;  text-decoration: none;
	background: url(../images/footer_icon.png) -6px 2px no-repeat; 
}
.mod-footer .f_products a:hover {color: #fff; text-decoration: none; }
.mod-footer .f_products li { float: left; display: inline; border-left: 1px solid #3288bf; padding: 0 30px 0 40px; } 
.mod-footer .f_products li.col_1 {width: 120px; }
.mod-footer .f_products li.col_1 a {display: block; }
.mod-footer .f_products li.col_2 {width: 240px; padding-right: 20px; }
.mod-footer .f_products li h3 { font-weight: bold; font-size: 14px; text-indent: 12px; font-family: "\5FAE\8F6F\96C5\9ED1";}
.mod-footer .f_products li.col_2 a {width: 102px; }
.mod-footer .f_products li.col_3 {width: 465px; padding-right: 0; border-right: 1px solid #3288bf; }
.mod-footer .f_products li.col_3 a {margin-right: 18px; min-width: 72px; }
.mod-footer .f_links {padding: 20px 0; text-align: center; }
.mod-footer .f_links a:hover {color: #cd0200;text-decoration: underline;}
.mod-footer .f_links i {color: #e5e5e5; margin: 0 5px; font-style: normal; }

// 公用
    // 总体页面宽度
    .content {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }

    // 每一行模块
    .row {
        font-size: 0;
        margin-top: 40px;
        overflow: hidden;
    }

    // float:left
    .mod-left {
        float: left;
        margin-right: 42px;
        width: 654px;
    }

    // float:right
    .mod-right {
        float: right;
        width: 304px;
    }

    // 小字
    .small {
        font-size: 13px;
        color: #ccc!important;
    }

    // 广告位
    .ad-content {
        margin: 30px auto 0;
    }

    // 新闻列表
    a.news-title {
        font-size: 14px;
        color: #666;
    }

// 页面公用

    // 标题头1
    .col-title {
        height: 31px;
        line-height: 30px;
        border-bottom: 1px solid #e6e6e6;

        span {
            float: left;
            font-size: 18px;
            color: #3e3e3e;
            border-bottom: 1px solid #ff6633;
        }

        .small {
            float: right;
        }
    }

    // 标题头2
    .block-title {
        height: 53px;
        line-height: 53px;
        border: 1px solid #e6e6e6;
        background: #fafafa;

        span {
            float: left;
            margin: 12.5px 0;
            padding-left: 20px;
            line-height: 28px;
            font-size: 18px;
            font-weight: bolder;
            color: #3e3e3e;
            border-left: 6px solid #f63;
        }

        .more {
            float: right;
            margin-right: 20px;
        }
    }

    // 投诉
    .complaint {
        padding-left: 30px;
        line-height: 20px;
        @extend .icon;
        @include sprite-height($icon_mail);
        @include sprite-position($icon_mail);
        background-repeat: no-repeat;
    }

    // icon
    .icon {
        background-repeat: no-repeat;
    }

// header部分
.header {
    height: 92px;
}

.header-logo {
    float: left;
    margin-right: 20px;
    margin: 25px 20px 0 0;
    width: 140px;
    height: 46px;
    text-indent: -999px;
    background: url(../images/logo.png) no-repeat;
}

.header-title {
    line-height: 92px;
    font-size: 14px;
    color: #989898;
}

.header-search {
    float: right;
    position: relative;

    form {
        line-height: 92px;
    }

    input[type="text"] {
        padding: 0 20px;
        width: 218px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #ccc;
        border-radius: 16px;
        outline-style: none;
    }

    .icon {
        position: absolute;
        top: 34px;
        right: 7px;

        background-color: transparent;
        @include sprite($icon_search);

        border: none;

        cursor: pointer;
    }
}

// nav
.nav {
    height: 55px;
    background: #f8f8f8;

    .complaint {
        float: right;
        margin-top: 17.5px;
    }
}

.nav-main {
    float: left;
    font-size: 0;
    a {
        font-size: 16px;
        color: #515b63;
    }

    &>a {
        display: inline-block;
        width: 100px;
        padding:  15.5px 0;
        text-align: center;
    }

    ul {
        display: none;
        position: absolute;
        padding: 8px 0;
        border: 1px solid #f3f3f3;
        background: #fff;
    }


    li {
        a {
            display: inline-block;
            padding: 14px 22px;
            width: calc(100% - 44px);
            font-size: 13px;
        }
    }

    li:hover {
        background: #f8f8f8;
    }
}

.nav-main:hover {
    ul {
        display: block;
    }
}

.nav-main.active {
    background: #515b63;

    &>a {
        color: #fff;
    }
}

.nav-small {
    float: right;
    padding: 0 5px;
    line-height: 55px;
}

// 总局在行动 + 政策通知早班车 + 权威发布
.col-3:first-child {
    margin-left: 0;
}

.col-3 {
    float: left;
    width: 305px;
    margin-left: 42.5px;

    .col-content {
        padding-top: 15px;

        p {
            height: 45px;
            overflow: hidden;
        }
    }

    .news-title {
        padding-left: 20px;
        line-height: 45px;
    }
}

// 轮播图 + 头条
.first-news-container {
    position: relative;
    margin-top: 30px;
}

.focus-container,
.first-news {
  height: 396px;
}

.first-news {
    .news-title {
        line-height: 40px;
    }
}

.first-news-title {
    line-height: 40px;
    font-size: 22px;
    color: #3e3e3e;
}

.first-news-small {
    line-height: 26px;
    font-size: 14px;
    color: #999;

    a {
        display: inline-block;
        padding: 0 8px;
        line-height: 18px;
        font-size: 12px;
        color: #fff;
        background: #4080f8;
        border-radius: 3px;
    }
}

// 轮播图
.focus-container {

    li {
        position: relative;
    }

    .img-title {
        position: absolute;
        bottom: 53px;
        left: 0;
        padding: 0 30px;
        width: 594px;
        font-size: 28px;
        line-height: 1.286;
        color: #fff;
        color: rgba(255, 255, 255, 0.878);
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
}

.focus-dots-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 654px;
    text-align: center;
    z-index: 1111;

    .dot {
        display: inline-block;
        margin: 10px 7px;
        width: 18px;
        height: 6px;
        border-radius: 3px;
        background: #666;
        background: rgba(255, 255, 255, .3);
    }

    .dot.active {
        background: #fff;
        background: rgba(255, 255, 255, .7);
    }
}

// 高端访谈
a.interview-small {
    display: inline-block;
    margin-left: 10px;
    color: #999;

    &:first-child {
        margin-right: 10px;
    }
}

.interview-container {
    height: 494px;
    padding: 0 20px;
    border: 1px solid #e6e6e6;
    border-top: none;
    background: #fafafa;
}

.interview-block {
    padding: 22px 0;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;

    .video {
        position: relative;
        float: left;
        width: 190px;
        height: 120px;
    }

    .interview-content {
        float: left;
        margin: 0 20px;
        height: 109px;
        width: 380px;
        overflow: hidden;
    }

    .interview-title {
        font-size: 18px;
        color: #666;
    }

    .interview-text {
        line-height: 25px;
        font-size: 14px;
        color: #999;
    }
}

// 质在全国
.country-container {
    padding: 15px 20px;
    line-height: 45px;
    border: 1px solid #e6e6e6;
    border-top: none;
    background: #fafafa;

    a {
        float: left;
        margin-left: 20px;
        width: 460px;
        font-size: 16px;
        color: #666;
    }

    .news {
        height: 45px;
        overflow: hidden;
    }
}

.news-flag {
    float: left;
    padding: 0 8px;
    margin: 11.5px 0;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    background: #4080f8;
    border-radius: 3px;
}

.news-time {
    float: right;
    font-size: 14px;
    color: #ccc;
}

// 质在海外
.overseas-container {
    padding: 15px 20px;
    border: 1px solid #e6e6e6;
    border-top: none;
    background: #fafafa;
    overflow: hidden;
}

.overseas-first {
    float: left;
    margin-right: 30px;
    width: 260px;
    height: 190px;
}

.overseas-titles {
    float: left;
    width: 322px;
    line-height: 40px;
    font-size: 16px;

    p {
        height: 40px;
        overflow: hidden;
    }

    a {
        color: #666;
    }
}

// 为中国代言 网上民生
.col-2 {
    float: left;
    width: 305px;
    margin-left: 44px;

    &:first-child {
        margin-left: 0;
    }

    .col-news {
        margin: 15px 0;
        height: 200px;
        line-height: 40px;
        font-size: 14px;
        overflow: hidden;

        a {
            padding-left: 20px;
            color: #666;
        }
    }

    .complaint {
        float: left;
        margin-top: 6px;
        margin-left: 20px;
    }
}

// 领导人报道集
.leader-container {
    padding: 0 20px 10px;
    border: 1px solid #e6e6e6;
    border-top: none;
    background: #fafafa;
    overflow: hidden;
}

.leader-first {
    overflow: hidden;

    img {
        float: left;
        margin: 20px 20px 20px 0;
        width: 86px;
        height: 122px;
    }

    p {
        margin-top: 4px;
    }

    .leader-info {
        float: left;
        margin: 13px 0 0;
        width: 155px;
        height: 137px;
        line-height: 25px;
        font-size: 14px;
        color: #666;
        overflow: hidden;
    }
}

.leader-news {
    height: 35px;
    line-height: 35px;
    overflow: hidden;

    a {
        padding-left: 20px;
        font-size: 14px;
        color: #666;  
    } 
}

// 地方之间
.local-container {
    padding: 15px 20px;
    border: 1px solid #e6e6e6;
    border-top: none;
    background: #fafafa;
    overflow: hidden;
}

.local-news {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;

    a {
        padding-left: 20px;
        color: #666;
    }
}

// 品质企业
.company-container {
    padding: 0 20px 12px;
    border: 1px solid #e6e6e6;
    border-top: none;
    background: #fafafa;
    overflow: hidden;
}

.company-block {
    padding: 18px 0 0;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;

    &.last {
        border-bottom: none;
    }
}

.company-title {
    font-size: 14px;
    color: #666;

    .more {
        float: right;
    }
}

.logo-block {
    float: left;
    margin: 20px 0 0 14px;

    &:first-child {
        margin-left: 0;
    }

    img {
      width: 78px;
      height: 54px;
    }

    p {
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        color: #666;
        text-align: center;
    }
}

// 友情链接
.friend {
    background: #f2f2f2;
}

.friend-header {
    margin-top: 30px;
    line-height: 32px;
    font-size: 14px;
    color: #999;

    span {
        float: left;
        font-size: 18px;
        color: #666;
    }

    a {
        display: inline-block;
        padding: 0 20px;
        vertical-align: middle;
        color: #999;
    }
}

.friend-links {
    margin: 25px 0 30px;
    overflow: hidden;
}

.select-link {
    // position: relative;
    // float: left;
    margin-left: 25px;
    // padding: 0 40px 0 10px;
    // width: 120px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #666;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    cursor: pointer;

    &:first-child {
        margin-left: 0;
    }

    .icon {
        position: absolute;
        top: 3px;
        right: 3px;
        @include sprite($icon_selector, inline-block);
    }
}