@charset "UTF-8";

* { padding: 0; margin: 0; }
ul,li,ol { list-style-type: none;} img { vertical-align: top; border-style:none; }  /* reset img vertical align */
a,a:visited { color: #333; text-decoration: none;} a:hover { color: #d00005; text-decoration: none;}
a:focus {outline:none;}
/*body { font:12px/1.5 Tahoma,Helvetica,Arial,"\5B8B\4F53","\5FAE\8F6F\96C5\9ED1",sans-serif; }*/
body { font:12px/1.5 Arial,"\5FAE\8F6F\96C5\9ED1",sans-serif; }
.topIndex .hdTopCon { width: 1000px;}  /* reset top header */

/* 清除浮动 */
.clearfix{*zoom:1;}
.clearfix:after{display:table; content:''; clear:both; }
/* 单行文字溢出虚点显示 */
.ellipsis{text-overflow:ellipsis; white-space:nowrap; overflow:hidden; } 


// .container { background: #eceff6 url(../images/header_banner.png) top center no-repeat; }
.container { background: url(../images/bg.jpg); }
// .container_con { height: 4930px; background: url(../images/footer_banner.png) bottom center no-repeat; }

.mod-block {*zoom:1;}
.mod-block:after{display:table; content:''; clear:both; }
.mod-block .mod-lb,.mod-block .mod-rb { float: left; }



/* 公共底部 */
.mod-footer {font-family: "\5B8B\4F53"; line-height: 24px; background-color: #fff; font-size: 12px; } 
.mod-footer .main { width: 1000px; margin: 0 auto;}
.mod-footer .f_products {color: #fff; padding: 10px 0; background-color: #0a70b1; border-bottom: 3px solid #e6e5e6; overflow: hidden; } 
.mod-footer .f_products a {display: inline-block; *display: inline; *zoom: 1;color: #89c3eb; padding-left: 12px;  text-decoration: none;
  // background: url(//r1.huanqiu.cn/?app=huanqiu.com&mime=image/png&path=_controls/common/images/footer_icon.png) -6px 2px no-repeat; 
}
.mod-footer .f_products a:hover {color: #fff; text-decoration: none; }
.mod-footer .f_products li { float: left; display: inline; border-left: 1px solid #3288bf; padding: 0 30px 0 40px; } 
.mod-footer .f_products li.col_1 {width: 120px; }
.mod-footer .f_products li.col_1 a {display: block; }
.mod-footer .f_products li.col_2 {width: 240px; padding-right: 20px; }
.mod-footer .f_products li h3 { font-weight: bold; font-size: 14px; text-indent: 12px; font-family: "\5FAE\8F6F\96C5\9ED1";}
.mod-footer .f_products li.col_2 a {width: 102px; }
.mod-footer .f_products li.col_3 {width: 465px; padding-right: 0; border-right: 1px solid #3288bf; }
.mod-footer .f_products li.col_3 a {margin-right: 18px; min-width: 72px; }
.mod-footer .f_links {padding: 20px 0; text-align: center; }
.mod-footer .f_links a:hover {color: #cd0200;text-decoration: underline;}
.mod-footer .f_links i {color: #e5e5e5; margin: 0 5px; font-style: normal; }

.container {
  .main { 
    width: 1000px; 
    margin: 0 auto;
  }
}

.banner-bg {
  margin-bottom: -23px;
  height: 400px;
  min-width: 1000px;
  background: url(../images/banner.jpg) top center no-repeat;
}

// 第一块
.mod-block-0 {
  height: 460px;
  background: #fff;
}

// 轮播图
.mod-focus {
  position: relative;
  float: left;
  width: 620px;
  height: 406px;
  margin: 30px 0 0 20px;
  overflow: hidden;
}

.focus_thumbs {
  position: absolute;
  left: 0;
  height: 406px;
  // transition: left 1s ease-in .1s;

  img {
    width: 620px;
    height: 406px;
  }

  li,
  .items {
    position: relative;
    float: left;
    width: 620px;
    height: 406px;
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0;
    padding-left: 20px;
    line-height: 54px;
    font-size: 22px;
    color: #fff;
    background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.01176) 100%);
  }
}

.focus_pagination {
  position: absolute;
  bottom: 21px;
  right: 19px;
}

.dot {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  vertical-align: bottom;
  background: rgb(229, 229, 229);
  background: rgba(229, 229, 229, .8);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8e5e5e5,endColorstr=#c8e5e5e5);    /*IE8支持*/
  border-radius: 50%;
}

.dot.active {
  background: rgb(255, 255, 255);
}

.focus-arrows {
  position: absolute;
  top: 50%;
  margin-top: -28px;
  width: 620px;
  height: 56px;
}

// .arrow-pre {
//   float: left;
//   width: 56px;
//   height: 56px;
//   background: url(../images/button_left.png) no-repeat;
// }

// .arrow-next {
//   float: right;
//   width: 56px;
//   height: 56px;
//   background: url(../images/button_right.png) no-repeat;
// }


// 报道
.mod-reports {
  position: relative;
  float: right;
  width: 310px;
  height: 410px;
  margin: 23px 20px 20px 30px;
  overflow: hidden;
}

.report-block {
  padding-bottom: 12px;
  border-bottom: 1px solid #b6b1b3;
}

.report-block.last-block {
  padding-bottom: 0;
  border-bottom: 0;
  border-bottom: none;
}

.report-title {
  line-height: 40px;
  font-size: 20px;
  font-weight: bolder;
}

.report-text {
  line-height: 26px;
  font-size: 14px;
  color: rgb(102, 102, 102);
}

a.reports-more {
  position: absolute;
  font-size: 16px;
  color: #cc3533;
  right: 20px;
  bottom: 0px;
}

// 多彩贵州
.mod-colors {
  margin-top: 35px;
  height: 450px;
}

.colors-title-bg {
  height: 100px;
  line-height: 100px;
  text-align: center;

  img {
    vertical-align: middle;
  }
}

.colors-content {
  padding: 30px 10px 20px;
  height: 298px;
}

.colors-pics {
  float: left;
  width: 510px;
}

.colors-pic-block {
  float: left;
  padding: 0 5px;
  width: 160px;
  height: 150px;
}

.color-pic {
  width: 160px;
  height: 90px;
}

.color-pic-title {
  margin: 5px 0;
  height: 48px;
  line-height: 24px;
  font-size: 16px;
  overflow: hidden;
}

.colors-video {
  position: relative;
  float: left;
  margin: 0 5px;
  width: 460px;
  height: 290px;
  line-height: 290px;
  background: #000;
}

.video-pic {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.video-link {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 100%;
  background: url(../images/play_video.png) center no-repeat;
}

.video-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 460px;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);    /*IE8支持*/
}


// 新经济
.mod-economy {
  margin-top: 35px;
}

.economy-title-bg {
  height: 100px;
  line-height: 100px;
  text-align: center;

  img {
    vertical-align: middle;
  }
}

.economy-content {
  padding: 5px;
  overflow: hidden;
}

.economy-block {
  float: left;
  padding: 13px 25px;
  width: 280px;
  height: 290px;
}

.economy-pic {
  width: 280px;
  height: 157px;
}

.economy-title {
  padding-top: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
}

.economy-text {
  height: 3 * 24px;
  line-height: 24px;
  font-size: 14px;
  overflow: hidden;
}

// 能工巧匠
.mod-ability {
  margin-top: 35px;
}

.ability-title-bg {
  height: 100px;
  line-height: 100px;
  text-align: center;

  img {
    vertical-align: middle;
  }
}

.ability-content {
  position: relative;
  margin: 0 10px;
  height: 219px;
  overflow: hidden;
  z-index: 11;
}

.ability-content-arrows {
  position: relative;
  top: -125px;
  left: -18px;
  margin-top: -14px;
  width: 1036px;
  height: 28px;
}

.ability-arrow-pre {
  float: left;
  width: 28px;
  height: 28px;
  background: url(../images/btn_pre.png) no-repeat;
  background-size: 100%;
}

.ability-arrow-next {
  float: right;
  width: 28px;
  height: 28px;
  background: url(../images/btn_next.png) no-repeat;
  background-size: 100%;
}

.ability-all {
  position: relative;
  font-size: 0;
}

.ability-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 20px 10px 25px;
}

.ability-item-pic {
  width: 225px;
  height: 126px;
}

.ability-item-title {
  margin-top: 15px;
  height: 21px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

// 作用
.role-title-bg {
  height: 100px;
  line-height: 100px;
  text-align: center;

  img {
    vertical-align: middle;
  }
}

.role-content {
  margin-top: 23px;
  height: 280px;
  overflow: hidden;
}

.role-left {
  float: left;
  padding-right: 20px;
  width: 285px;
  height: 280px;
  border-right: 1px solid #cfced6;
}

.role-img {
  width: 100%;
  height: 100%;
}

.role-block:first-child {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #cfced6;
}

.block-title {
  font-size: 20px;
  color: rgb(34, 34, 34);
  line-height: 1.2;
}

.text {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(102, 102, 102);
  line-height: 1.714;
}

.text-more {
  margin-left: 7px;
  color: rgb(204, 53, 51);
}

.role-middle {
  float: left;
  margin-left: 20px;
  width: 280px;
}

.role-right {
  float: right;
  width: 366px;
  height: 280px;
}

// 注意事项
.mod-safe {
  margin-top: 45px;
}

.safe-content {
  margin-top: 30px;
  height: 280px;
  overflow: hidden;
}

.safe-left {
  float: left;
  width: 340px;
  height: 280px;
}

.safe-middle {
  float: left;
  margin-left: 30px;
  padding-right: 30px;
  width: 285px;
  height: 280px;
  border-right: 1px solid #cfced6;
}

.safe-right {
  float: right;
  width: 280px;
  height: 280px;

  img {
    margin-bottom: 10px;
    width: 280px;
    height: 170px;
  }
}

.safe-block:first-child {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cfced6;
}

// 友情链接
.mod-company {
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.company-content {
  padding: 20px 0;
  font-size: 16px;
  border: none;
  border-top: 1px solid #c8b893;

  a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16%;
    height: 36px;
    line-height: 36px;
  }
}

.company-title {
  padding: 0 25px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
